/*
1. prayTime
2. prayCard
3. remainTime
*/

// 1. prayTime
.prayTime {
  h1,
  h2 {
    padding: 0.5em;
  }
  ul {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 1em;

    li {
      border-radius: $border-radius;
      margin: 0.5em;
      padding: 0.25em;
      width: 6.5em;

      & h3 {
        padding: 0.25em 0;
      }
    }
  }
}

// 2. prayCard
@mixin prayCard {
  border-radius: $border-radius;
  margin: 0.5em;
  padding: 0.25em;
  width: 6.5em;
  & h3 {
    padding: 0.25em 0;
  }
}
.prayCardLight {
  @include prayCard;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
  .active {
    @include active($active-clr-light);
  }
}

.prayCardDark {
  @include prayCard;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.48);
  .active {
    @include active($active-clr-dark);
  }
}

// 3. remainTime

@mixin remainTime {
  font-size: 2em;
  font-weight: bolder;
  .active {
    display: block;
  }
}

.remainTimeLight {
  @include remainTime;
  color: $clr-dark;
  .active {
    color: $active-clr-light;
  }
}
.remainTimeDark {
  @include remainTime;
  color: $clr-light;
  .active {
    color: $active-clr-dark;
  }
}
