@import "config";
@import "app";
@import "clock";
@import "date";
@import "prayTime";
@import "./footer/footer";
@import "./footer/toggleThemes";
@import "./footer/settings";
@import "./footer/options";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}